*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
.nav{
  background-color: blueviolet;
}


#headers{
font-family: 'Poppins', sans-serif;  font-weight: bold;
  color: brown;
  text-align: justify;
  margin: auto;
  padding-left: 50px;
  padding-top: 15px;
}